rules_version = '2';
service firebase.cloud.storage {
  match /b/{bucket}/o {
    match /uploads/{allPaths=**} {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
